body {
    margin: 50px auto;
    height: fit-content;
    width: fit-content;
}
.weather-app-wrapper {
  max-width: 1000px; 
  height: fit-content;
  padding: 20px 30px; 
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: linear-gradient(248deg,
  rgba(255, 231, 224, 1) 7%,
  rgba(255, 231, 224, 1) 7%,
  rgba(255, 246, 230, 1) 31%,
  rgba(254, 247, 223, 1) 65%);
   background-size: 100% auto;
   background-repeat: no-repeat;
}
  h1 {
    color: #d691aec2;
    margin: 10px 0px auto;
    text-transform: uppercase; 
    font-size: 30px;
    font-weight: 30px;
    font-family: 'Source Code Pro', monospace; 
    position: relative; 
  }
  #currentLocation,
  #button-addon2 {
    background-color: transparent; 
    margin: 0px 0px;
    padding: 6px 10px; text-size-adjust: 8px;
    transition: all 200mm ease-in-out;  
    border-radius: 4px; 
    border-color: #a9b1b9;
  }
  #currentLocation {
    position: relative; right: 5px;
    padding: 6px 30px; text-size-adjust: 8px;
  }
  
  #button-addon2:hover, #currentLocation:hover,
  .button:hover {
    background-color: #C2D4EB;
    border-color:#d9ecf6;
  }
  #icon {
    position: relative; bottom: 15px;
    margin-right: 10px;
  }
  #degree {
    color: #71788a;
    font-size: 68px; font-weight: 300;
    padding: 0px 5px auto; 
    line-height: 5px;
  }
  .units {
    color: #d691aec2;
    padding: 1px 0px 1px; font-size: 14px;
    margin-bottom: 68px;
    position: relative;
    text-align:top;  
  }

  .units, .active { 
    text-decoration: none;
    cursor: pointer;
   }
  .units, .active:hover {
    cursor: default;
    color:#d691aec2;
  }

  h2 {
    color: #71788a; font-family: 'Source Code Pro', monospace;
    padding: 0px auto; font-weight: 300;
  }
  h3 {
    color: #71788a; font-family: 'Source Code Pro', monospace;
    font-size: 16px; line-height: 20px;
  } 
  #city, #today {
    font-size: 32px; 
    line-height: 26px;
  }

  .weatherForecast {
    color: #71788a; 
    margin-top: 50px;
  }
  .forecastDay {
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
  }
  #codeBy {
    font-family: 'Source Code Pro', monospace;
    padding: 14px 0px;
    font-size: 14px;
    color: #71788a;
  }
  #gitLink {
    color: #d691aec2;
  }
  
